/* variaveis / global */
@import "../css/global/global.css";
@import "../css/utilidades/cores.css";
@import "../css/utilidades/tipografia.css";
/* fixos header / footer */
@import "../css/global/header.css";
@import "../css/global/footer.css";

/* utilidades */
@import "../css/utilidades/componentes.css";

/* home */
@import "../css/home/introducao.css";
@import "../css/home/bicicletas.css";
@import "../css/home/tecnologia.css";
@import "../css/home/parceiros.css";
@import "../css/home/depoimento.css";
/* seguros */
@import "../css/seguros/seguros.css";
@import "../css/seguros/vantagens.css";
@import "../css/seguros/perguntas.css";

/* bicicletas */
@import "../css/bicicletas/bicicletas-lista.css";
@import "../css/bicicletas/bicicletas.css";

/* termos */
@import "../css/termos/termos.css"

