body {
  margin: 0px;
  color: #151515;
}
nav {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
