.container {
  box-sizing: border-box;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.botao {
  display: inline-block;
  padding: 1.125rem 2rem;
  background: linear-gradient(#ff9500, #e36a00);
  border-radius: 4px;
  color: var(--cor-p5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(#e98801, #ca5f00);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

@media (max-width: 600px) {
  .botao {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

/* titulo interno */
.titulo-bg {
  background-color: var(--cor-11);
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
  .titulo p {
    font-size: 1rem;
  }
}
