.container {
  box-sizing: border-box;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.botao {
  display: inline-block;
  padding: 1.125rem 2rem;
  background: linear-gradient(#ff9500, #e36a00);
  border-radius: 4px;
  color: var(--cor-p5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#e98801, #ca5f00);
}

@media (max-width: 600px) {
  .botao {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}
