:root {
  --cor-12: #000000;
  --cor-11: #151515;
  --cor-10: #292929;
  --cor-9: #3d3d3d;
  --cor-8: #525252;
  --cor-7: #696969;
  --cor-6: #808080;
  --cor-5: #949494;
  --cor-4: #a8a8a8;
  --cor-3: #c9c9c9;
  --cor-2: #e8e8e8;
  --cor-1: #f5f5f5;
  --cor-0: #ffffff;
  --cor-p5: #3b2200;
  --cor-p4: #794700;
  --cor-p3: #a46000;
  --cor-p2: #d57c00;
  --cor-p1: #ff9500;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}

.cor-12 {
  color: var(--cor-12);
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
