.seguro-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 3.75rem var(--cor-0), inset 0 -3.75rem var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.seguro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.seguro-conteudo h2 {
  margin-bottom: 1.25rem;
}

.seguro-conteudo p {
  margin-bottom: 1.25rem;
}

@media (max-width: 600px) {
.seguro-bg {
  box-shadow: inset 0 0rem var(--cor-0), inset 0 -3.75rem var(--cor-12);
}
  .seguro {
    grid-template-columns: 1fr;
  }
  .seguro-conteudo {
    grid-row: 1;
    padding-top: 2.5rem;
    padding-bottom: 0px;
  }
  .seguro-img img {
    height: 400px;
  }
}
