.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
}

.bicicletas-img {
  display: grid;
}

.bicicletas-img img {
  grid-area: 1/1;
}

.bicicletas-img span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 1.25rem;
  background-color: var(--cor-12);
  padding: 8px 8px 8px 16px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  background: url("../../bikcraft-arquivos/img/dec/top-right.svg") no-repeat top
    0 right 20px;
}

.bicicletas-conteudo p,
.bicicletas-conteudo h2 {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 1.25rem;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 0.5rem;
}

.bicicletas-conteudo p {
  margin-bottom: 2rem;
}

.bicicletas-conteudo a {
  place-self: end;
}

.bicicletas-conteudo ul {
  display: grid;
  align-items: center;
  gap: 16px;
}

.bicicletas-conteudo li {
  display: flex;
  gap: 8px;
}

.bicicletas-conteudo img {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  .bicicletas-conteudo {

  background: none;
}
}

@media (max-width: 500px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas-img span {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 4px 4px 4px 8px;
  }

  .bicicletas-conteudo ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
  }

  .bicicletas-conteudo a {
    place-self: start;
  }
}
