.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.bicicleta-img span {
  display: flex;
  gap: 20px;
  max-width: 100%;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: auto;
}

.bicicleta-conteudo > p {
  margin-bottom: 2rem;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2rem;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--cor-12);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 0.015em;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  background-color: var(--cor-12);
  padding: 2rem;
  border-radius: 4px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.bicicleta-informacoes img {
  margin-bottom: 0.5rem;
  width: 24px;
}

.bicicleta-informacoes h3 {
  margin-bottom: 0.5rem;
}

.bicicleta-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 2px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cor-6);
}

@media (max-width: 900px) {
  .bicicleta-comprar a {
    grid-column: 1/-1;
  }
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
 
  .bicicleta-img span {
    display: none;
  }
}

@media (max-width: 500px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
