@import "./global/global.css";
@import "./utilidades/cores.css";
@import "./utilidades/tipografia.css";

@import "./global/header.css";
@import "./global/footer.css";

/* utilidades */
@import "./utilidades/componentes.css";

/* home */
@import "./home/introducao.css";
@import "./home/bicicletas.css";
