body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4px;
  background-color: #ffffff;
  width: 0%;
  height: 2px;
  transition: 0.2s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    padding: 12px 16px;
    background-color: #151515;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #292929;
  }

  .header-menu {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
