/* variaveis / global */
@import "./global/global.css";
@import "./utilidades/cores.css";
@import "./utilidades/tipografia.css";
/* fixos header / footer */
@import "./global/header.css";
@import "./global/footer.css";

/* utilidades */
@import "./utilidades/componentes.css";

/* home */
@import "./home/introducao.css";
@import "./home/bicicletas.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./seguros/seguros.css";
