body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.125;
  padding-bottom: 600px;
}
nav {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4px;
  background-color: #ffffff;
  width: 0%;
  height: 2px;
  transition: 0.2s;
}

.header-menu a:hover::after {
  width: 100%;
}

.introducao-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 20px;
  gap: 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao img {
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
  font-size: 64px;
}

.introducao-conteudo h1 span {
  color: #ff9500;
}

.introducao-conteudo p {
  margin-bottom: 32px;
  font-size: 24px;
  color: #949494;
}

.introducao-conteudo a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ff9500, #e36a00);
  border-radius: 4px;
  color: #3b2200;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: bold;
}

.introducao-conteudo a:hover {
  background: linear-gradient(#e98801, #ca5f00);
}

@media (max-width: 1100px) {
  .introducao-conteudo h1 {
    font-size: 48px;
  }
  .introducao-bg {
    box-shadow: inset 0 -80px #ffffff;
  }
}

@media (max-width: 900px) {
  .introducao-conteudo {
    padding-top: 32px;
  }
  .introducao-conteudo h1 {
    font-size: 36px;
  }

  .introducao-conteudo p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .header-menu a {
    padding: 12px 16px;
    background-color: #151515;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #292929;
  }

  .header-menu {
    gap: 20px;
  }

  .introducao {
    padding-top: 40px;
  }

  .introducao-conteudo h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao {
    gap: 32px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header-menu {
    gap: 12px;
    justify-content: center;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }

  .introducao-conteudo a {
    padding: 12px 16px;
    font-size: 16px;
  }

    .introducao-conteudo p {
    font-size: 18px;
  }

   .introducao-bg {
    box-shadow: inset 0 -60px #ffffff;
  }
}
