#contato {
  background: linear-gradient(var(--cor-11) 600px,  var(--cor-1) 0);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 3.75rem;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 4px 0 0 4px;
  background-color: var(--cor-12);
}

.contato-formulario {
  border-radius: 0 4px 4px 0;
  background-color: var(--cor-0);
}

.contato-dados h2 {
  margin-bottom: 3.75rem;
}

.contato-endereco {
  margin-bottom: 2rem;
  padding-left: 1.75rem;
  background: url("../../bikcraft-arquivos/img/icones/local.svg") no-repeat 0
    2px;
}

.contato-endereco p {
  margin-bottom: 0.5rem;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 0.5rem;
  padding-left: 1.75rem;
}

.contato-meios a:hover {
  color: var(--cor-0);
}

.contato-meios a:first-child {
  background: url("../../bikcraft-arquivos/img/icones/email.svg") no-repeat 0
    2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 2rem;
}

.contato-meios a:nth-child(3) {
  background: url("../../bikcraft-arquivos/img/icones/telefone.svg") no-repeat 0
    2px;
  margin-bottom: 3.75rem;
}

.contato-redes {
  display: flex;
  gap: 2rem;
  padding-left: 1.75rem;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }

  .contato-dados,
  .contato-formulario {
    padding: 1.25rem;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }

  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 2rem;
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }

  .contato-redes a:nth-child(3) {
    margin-bottom: 0.75rem;
  }
}
