.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.lojas h2 {
  grid-column: 1/-1;
  margin-bottom: 3.75rem;
}

.lojas-item img {
  border-radius: 4px 4px 0 0;
}

.lojas-item {
  overflow: hidden;
}

.lojas-item img {
  transition: 0.1s;
}

.lojas-item img:hover {
  transform: scale(1.2);
}

.lojas-item {
  background-color: var(--cor-0);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  padding: 2rem;
}

.lojas-conteudo h3,
.lojas-tempo {
  grid-column: 1/-1;
}

.lojas-conteudo h3 {
  position: relative;
}

.lojas-conteudo h3::before {
  content: "";
  display: inline-block;
  height: 0.25rem;
  width: 0.75rem;
  background-color: var(--cor-p1);
  position: absolute;
  top: 18px;
  left: -20px;
}

.lojas-dados {
  display: grid;
  gap: 0.5rem;
  border-left: 2px solid var(--cor-3);
  padding-left: 0.75rem;
}

.lojas-tempo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 800px) {
  .lojas {
    gap: 1.25rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .lojas h2 {
    margin-bottom: 2rem;
  }

  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}