.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 5fr 4fr;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
}

.footer h3 {
  margin-bottom: 2rem;
}

.footer ul {
  margin-bottom: 2rem;
}

.footer li {
  margin-bottom: 1rem;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 22.5rem;
  height: 2px;
  background-color: var(--cor-11);
  margin-top: 1rem;
}

.footer-redes {
  display: flex;
  gap: 2rem;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 2.5rem;
}

@media (max-width: 800px) {
  .footer > a  {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
  }

  .footer  img {
    grid-column: 1/-1;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer-copy {
  margin-top: 0px;
}
}