.parceiros {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.parceiros h2 {
  margin-bottom: 3.75rem;
}

.parceiros ul {
  max-width: 87.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 1.25rem;
}

.parceiros img {
  margin: auto;
}

.parceiros li {
  padding: 2rem;
  display: flex;
  border-left: solid 2px var(--cor-2);
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: solid 2px var(--cor-2);
}

@media (max-width: 800px) {
  .parceiros {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
  }
  .parceiros h2 {
    margin-bottom: 1.25rem;
  }
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li:nth-child(n + 3) {
    border-top: solid 2px var(--cor-2);
  }
  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}

@media (max-width: 500px) {
  .parceiros li {
    padding: 1.5rem;
  }
}