.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 3.75rem;
}

.perguntas dl > div {
  padding: 1.25rem;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.25rem;
  background-color: var(--cor-p1);
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background-image: url("../../bikcraft-arquivos/img/icones/seta-abrir.svg");
  transition: 0.2s;
}


.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.js .perguntas dd {
  padding-left: 1.25rem;
  padding-top: 1rem;
  max-width: 80ch;
  display: none;
}

.js .perguntas dd.ativa {
  display: block;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}
