#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 7.5rem;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 4px;
  background-color: var(--cor-p1);
  left: -1rem;
  position: absolute;
}

.orcamento-produto,
.orcamento-dados {
  padding: 3.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 4px 0 0 4px;
  background-color: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-4);
  background-color: var(--cor-10);
  display: block;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.orcamento-produto input:checked + label {
  background-color: var(--cor-0);
  color: var(--cor-11);
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid var(--cor-5);
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow: inset 0px 0px 0 3px var(--cor-0),
    inset 0px 0px 0 6px var(--cor-11);
}

.orcamento-produto input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.orcamento-dados {
  border-radius: 0 4px 4px 0;
  background-color: var(--cor-0);
}
