#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 7.5rem;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 4px;
  background-color: var(--cor-p1);
  left: -1rem;
  position: absolute;
}

.orcamento-produto,
.orcamento-dados {
  padding: 3.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 4px 0 0 4px;
  background: var(--cor-12) url('../../bikcraft-arquivos/img/dec/bottom-left.svg') no-repeat bottom 20px left 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font:
    400 1rem/1.5 "Poppins",
    sans-serif;
  color: var(--cor-3);
  background-color: var(--cor-10);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--cor-10);
}

.orcamento-produto input:checked + label {
  background-color: var(--cor-0);
  color: var(--cor-11);
}

.orcamento-produto label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid var(--cor-5);
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-produto label:hover {
  background-color: var(--cor-9);
  border-color: var(--cor-9);
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow:
    inset 0px 0px 0 3px var(--cor-0),
    inset 0px 0px 0 6px var(--cor-11);
}

.orcamento-produto input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.orcamento-conteudo {
  display: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 1.25rem;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 1.25rem;
}

.orcamento-dados {
  border-radius: 0 4px 4px 0;
  background: var(--cor-0) url('../../bikcraft-arquivos/img/dec/bottom-right.svg') no-repeat bottom 20px right 20px;
}

.orcamento-detalhes {
  display: none;
  background-color: var(--cor-0);
  padding: 1.25rem;
  border-radius: 4px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.orcamento-detalhes li img {
  width: 1rem;
  margin-right: 0.5rem;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 2rem;
  }
  .orcamento-detalhes {
    gap: 0.5rem;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-produto {
    border-radius: 4px 4px 0 0;
    background: var(--cor-12);
  }
  .orcamento-dados {
    border-radius: 0 0 4px 4px;
    background: var(--cor-0);
  }

  .orcamento-detalhes ul {
    font:
      400 1.125rem/1.35 "Poppins",
      sans-serif;
  }
}

@media (max-width: 500px) {
  .orcamento-detalhes ul {
    font:
      400 0.75rem/1.35 "Poppins",
      sans-serif;
  }
}

@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
}
